h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
.disabled {
  text-decoration-line: line-through;
  opacity: 50%;
}
.subtitle {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: "Acme";
  width: 100%;
  height: 16px;
  margin-bottom: 2px;
  font-size: 17px;
}
.divisor {
  font-size: 20px;
  width: 4px;
  margin-left: -2px;
}
.space {
  margin: auto 1px;
  height: 20px;
  border-width: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: #37373a7e;
}
.title-name {
  width: 100%;
  margin-right: 3px;
  height: 23px;
  padding-left: 70px;
  .title-name_input {
    width: 100%;
    font-family: "JMHArkham";
    font-size: 26px;
    height: 32px;
    padding: 0 0 4px 3px;
    position: relative;
    top: -3px;
  }
}
.superior {
  font-family: "Acme";
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.window {
  padding: 2px 2px 0;
  border: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 5px;
  margin: 0 0 7px 0;
  background-color: @bg-gray-2;
}
.window:last-child {
  margin: 0;
}
.parscrucis-actor-sheet {
  min-width: 800px;
  min-height: 680px;
  max-height: 680px;
  input:hover,
  select:hover {
    box-shadow: 0 0 5px #ff0000;
    transition: 0.15s all ease-in-out;
  }
  .window-resizable-handle {
    display: none;
  }
  .window-content {
    overflow: hidden;
  }
  h3 {
    font-size: 18px;
  }
  .superior {
    font-family: "Acme";
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    input,
    select {
      border: 0;
      border-radius: 3px;
      background: transparent;
    }
    select {
      appearance: none;
    }
    .profile-img {
      height: 155px;
      width: 155px;
      margin-right: -75px;
      margin-bottom: -5px;
      border: none;
      position: relative;
      border-radius: 50%;
    }

    .superior-right {
      height: 152px;
    }

    .name-exp {
      display: flex;
      flex-direction: row;
      .title-name {
        width: calc(100% - 160px);
      }
      .exp-bar,
      .ch-bar {
        width: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.432);
        border-radius: 5px;
        padding-left: 3px;
        height: 20px;
        background: @bg-gray-2;
        :last-child {
          border-width: 0;
        }
        span,
        .exp-ttl,
        .exp-res,
        .ch-value {
          height: 24px;
          line-height: 24px;
          font-size: 22px;
          text-align: center;
          border-color: #ec002770;
          border-style: solid;
          border-width: 0 1px 0 0;
          border-radius: 0;
          background-color: transparent;
          margin: 0;
        }
        .exp-ava {
          width: 25%;
        }
        .exp-ttl {
          width: 35%;
        }
        .exp-res {
          width: 20%;
        }
        .ch-value {
          width: 50%;
        }
        .exp,
        .ch {
          width: 20%;
          font-size: 20px;
          line-height: 22px;
          height: 20px;
          font-weight: 700;
        }
        .ch {
          width: 50%;
        }
      }
    }

    .stats-window {
      display: flex;
      flex-direction: row;
      height: 129px;
      .left-window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 3px;
        border: solid rgba(128, 128, 128, 0.432);
        border-width: 0 1px 1px 0;
        border-radius: 0 0 5px 0;
        width: calc(100% - 160px);
        padding: 1px 0;
        background: @bg-gray-2;
        padding-left: 70px;
        .racial {
          display: flex;
          flex-direction: row;
          width: 100%;
          select,
          input {
            padding: 0;
            height: 18px;
            font-size: 14px;
            flex-grow: 1;
            margin: -1px 2px 1px 0;
            padding-top: 1px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          input {
            width: 17%;
          }
          select:last-child,
          input:last-child {
            margin-right: 0;
          }
        }
        .att-partial {
          input {
            padding: 0;
            margin: 1px 2px 1px 0;
            text-align: center;
          }
          input:last-child {
            margin-right: 0;
          }
          .attributes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 3px;
            padding-left: 4px;
            width: 100%;
            .attribute {
              width: 15%;
              border-width: 0px;
            }
            .space {
              height: 40px;
            }
            .stat-name {
              text-align: center;
              font-family: "IMFellEnglishSC";
              font-weight: 700;
              height: 19px;
              font-size: 19px;
              a,
              div {
                height: 18px;
              }
            }
            .stat {
              font-size: 28px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              input {
                height: 36px;
              }
              .stat-value {
                width: 100%;
                padding-top: 1px;
                margin: 1px 0;
                font-family: "SR";
                font-size: 42px;
              }
              .stat-modifier-box {
                width: 73%;
                font-family: "SR";
                font-size: 21px;
                border-radius: 0 0 10px 0;
                margin-left: 0px;
                margin-right: 0px;
                display: flex;
                flex-direction: column;
                .stat-modifier {
                  width: 100%;
                  padding-top: 3px;
                  height: 17px;
                }
                .stat-passive {
                  width: 100%;
                  height: 19px;
                  padding-right: 4px;
                  line-height: 17px;
                  text-align: center;
                  font-size: 21px;
                  font-style: italic;
                }
              }
            }

            .defense {
              margin-right: 2px;
            }

            .movement {
              width: 20%;
              margin-right: 0;
              .mov-value,
              .sprint {
                font-family: "SR";
                font-size: 36px;
                padding-top: 2px;
              }
              .mov-value {
                width: calc(50% - 2px);
              }
              // .mov-modifier {
              //   width: calc(26% - 7px);
              // }
              .mov-arrow {
                font-family: "SR";
                font-size: 32px;
                font-weight: bold;
                width: 0;
                // margin-left: -10px;
                // right: 30px;
                position: relative;
                right: 5px;
              }
              .sprint {
                width: calc(50% - 0px);
              }
            }
          }

          .resources {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .space {
              height: 30px;
              margin: auto;
            }
            .resource {
              margin-right: 3px;
              width: 140px;
              label {
                height: 16px;
                text-align: center;
                h3 {
                  font-family: "IMFellEnglishSC";
                  font-weight: 700;
                  height: 18px;
                  font-size: 17px;
                  div {
                    height: 16px;
                  }
                }
              }
              .resource-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 24px;
                height: 28px;
                .resource_special {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 140px;
                  position: absolute;
                  height: 26px;
                  background: rgba(0, 0, 0, 0.05);
                  border: solid var(--color-text-light-5);
                  border-width: 0 1px 0px 0;
                  border-radius: 0 0 5px 0;
                  .stat-value {
                    width: 50%;
                    font-size: 26px;
                  }
                  span {
                    height: 28px;
                  }
                }
                .resource-bar {
                  height: 24px;
                  background-color: #00d41270;
                  border-radius: 5px 0 5px 0;
                }
                .pe-bar {
                  background-color: #0043d470;
                }
              }
            }
            .lim {
              width: 60px;
              margin-right: 0;
            }
            .stat-current {
              background-color: transparent;
              text-align: right;
            }
            .stat-max {
              background-color: transparent;
              text-align: left;
              padding-left: 3px;
            }
            .pain {
              width: 55px;
              margin-right: 0;
              label {
                height: 18px;
              }
              div {
                .stat-value {
                  width: 100%;
                }
              }
            }
            .retained {
              margin-right: 2px;
            }
          }
        }
      }
      .right-window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 160px;
        padding: 0 2px 2px;
        border: 1px solid #8080806e;
        border-radius: 5px;
        background: #ebe7dce0;
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
        }
        .mitigation {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .armor-group {
            margin-right: 2px;
          }
          .armor-group,
          .protections {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 75px;
            .armor {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              height: 21px;
              margin-left: 6px;
              h3 {
                border: 0;
                line-height: 20px;
                font-family: "IMFellEnglighSC";
                div {
                  font-size: 24px;
                  padding-top: 2px;
                  font-family: "SR";
                }
              }
              input {
                text-align: center;
                font-size: 24px;
                height: 21px;
                width: 26px;
              }
              .mit-modifiers {
                width: 18px;
                font-size: 17px;
              }
            }
            .armor:last-child {
              margin-top: 2px;
            }
            .protection {
              display: flex;
              flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
              margin-right: 4px;
              h3 {
                font-size: 10.5px;
                border: 0;
              }
              input {
                padding-right: 2px;
                text-align: right;
                height: 14px;
                line-height: 14px;
                width: 14px;
                font-size: 14px;
              }
            }
          }
        }

        .minors {
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          flex-wrap: wrap;
          flex-grow: 1;
          width: 100%;
          padding: 1px 1px 0;
          border: 0;
          border-bottom: 1px;
          border-style: solid;
          border-color: #37373a7e;
          label {
            width: 50%;
            h3 {
              border: none;
            }
          }
          .minor,
          .luck {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 20px;
            border-bottom: 1px solid #37373a7e;
          }
          .minor:last-child {
            border: none;
          }
          .minor-name,
          .luck-name {
            font-size: 15px;
            text-align: center;
            height: 16px;
            a,
            div {
              margin-bottom: -1px;
              font-family: "IMFellEnglishSC";
              font-weight: 700;
            }
          }
          .luck-line,
          .minor-num {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 50%;
          }
          .minor-num {
            // align-items: center;
            input {
              text-align: center;
              height: 21px;
            }
            .minor-value {
              width: 40%;
              font-size: 23px;
              padding: 0;
              padding-left: 3px;
              font-family: "SR";
            }
            .minor-modifier {
              width: 35%;
              font-size: 17px;
              padding: 0;
              font-family: "SR";
            }
          }
          .luck-line {
            height: 21px;
            .luck-num {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              margin-left: 8px;
              height: 100%;
              width: 56px;
              .luck-mark {
                height: 100%;
                width: 14px;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                line-height: 21px;
                div {
                  width: 14px;
                }
              }
            }
            input.luck-value {
              height: 100%;
              width: 12px;
              min-width: 0;
              font-size: 17px;
              padding: 0;
              margin-left: -2px;
              font-family: "SR";
              text-align: center;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  .navigation {
    font-family: "Acme";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: #341ac9; // Nice blue-purple
    // border-color: #313131;
    border-style: solid;
    border-width: 1px 0 1px 0;
    height: 22px;
    margin-bottom: 7px;
    .item {
      width: 16%;
      text-align: center;
    }
    .active {
      font-weight: 700;
      background: radial-gradient(
        circle,
        rgba(235, 231, 220, 0.88) 0%,
        rgba(235, 231, 220, 0.75) 60%,
        rgba(235, 231, 220, 0) 100%
      );
    }
    a {
      font-size: 17px;
    }
    .space {
      margin: auto 0;
      height: 14px;
    }
  }

  .tab-content {
    overflow-y: auto;
    font-family: "Acme";
    height: calc(100% - 159px - 29px);
    .tab {
      height: 100%;
    }
    input {
      border: 0;
      border-radius: 3px;
      padding: 0;
    }
    select {
      border: 0;
      border-radius: 3px;
      padding: 0;
    }

    // Skills tab
    .skills-tab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .grouping {
        width: 32.5%;
        .skill-group {
          padding: 0;
          list-style-type: none;
          padding: 2px 2px 0;
          border: 1px solid rgba(128, 128, 128, 0.432);
          border-radius: 5px;
          margin: 0 0 7px 0;
          background-color: @bg-gray-2;
          .group-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            .group-name {
              // padding-left: 21px;
              width: 80%;
            }
            .tag-lvl {
              width: 10%;
              padding-right: 1px;
              font-size: 16px;
              text-align: right;
            }
            .tag-mod {
              width: 10%;
              padding-right: 1px;
              font-size: 16px;
              text-align: right;
            }
          }
          .skill {
            height: 21px;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .skill-exp {
              // color: #7a7971; a bit darker
              color: #999;
              font-family: "Modesto Condensed";
              font-size: 12.5px;
              width: 15px;
              height: 19px;
              line-height: 19px;
              margin-left: 3px;
            }
            .skill-exp:hover {
              // text-shadow: 0 0 5px #ff0000;
              text-shadow: 0 0 5px #1100ff;
              transition: 0.15s all ease-in-out;
              cursor: pointer;
            }
            .skill-favored {
              color: #0000ffa1;
            }
            .skill-favored:hover {
              text-shadow: 0 0 5px #ff0000;
            }
            .skill-title {
              display: flex;
              padding-left: 2px;
              width: calc(50% + 6px + 5px);
            }
            .skill-rate {
              width: 25px;
              font-size: 10.5px;
              text-align: center;
            }
            .skill-att {
              width: 15%;
              font-size: 12.5px;
              text-align: center;
            }
            input {
              height: 18px;
              padding: 0;
              border-radius: 3px;
              margin: 0 0 0 3px;
              text-align: right;
              background: transparent;
              font-family: "SR";
            }
            .skill-value {
              width: 10%;
              font-size: 20px;
              font-weight: 700;
            }
            .skill-mod {
              width: 10%;
              font-size: 17px;
              padding: 0 1px 0 0;
              margin: 0;
            }
          }
        }
      }
    }
    .lists {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 52px;
      padding: 3px 2px;
      border: 1px solid #8080806e;
      border-radius: 5px;
      font-size: 15px;
      background-color: @bg-gray-2;
      p {
        margin: 0;
      }
      .list-title {
        width: 12%;
        height: 21px;
        font-size: 16px;
      }
      .list-lines {
        width: 88%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .list-input {
          width: 100%;
          font-size: 14px;
          height: 19px;
          padding-left: 2px;
          background: transparent;
        }
        .list-input:first-child {
          margin-bottom: 2px;
        }
      }
    }

    // Inventory tab
    .item-edit {
      margin-right: -2px;
    }
    .item-edit:hover {
      text-shadow: 0 0 8px #ff6600;
    }
    .item-equip:hover {
      text-shadow: 0 0 8px #4c00ff;
    }
    .splinter {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .inventory {
      max-height: calc(446px - 7px - 52px);
      overflow-y: scroll;
      margin-bottom: 7px;
      .window {
        padding-bottom: 1px;
      }
    }
    .items-list {
      margin: 0;
      padding: 0;
      min-height: 39px;
      .subtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .item-margin {
          margin-right: 2px;
        }
        .item-name {
          width: calc(24% - 21px);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          .item-type {
            color: #999;
            font-family: "Modesto Condensed";
            font-size: 12.5px;
          }
        }
        .item-actions {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
          // width: calc(70% - 44px);
          width: calc(38% - 7px);
          .item-action-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 17px;
            border-color: #a3a3a3b4;
            border-style: dashed;
            border-width: 0 0 1px 0;
          }
          .item-action-line:last-child {
            border: none;
          }
          .item-skill {
            width: calc(25%);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .item-action {
            width: calc(19%);
            text-align: center;
          }
          .item-modifier {
            width: calc(7%);
            text-align: right;
          }
          .item-damage {
            width: calc(20%);
            text-align: center;
          }
          .item-range {
            text-align: center;
            width: calc(16%);
          }
        }

        .item-info,
        .player-notes {
          width: calc(38% - 43px - 36px);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          background: transparent;
        }
        .item-info-line {
          width: calc(76% - 86px);
        }
        .player-notes {
          height: 19px;
          padding-left: 3px;
        }
        .passive-line {
          width: calc(76% - 68px);
        }
        .points-value {
          width: 18px;
          text-align: right;
          padding-right: 1px;
          padding-top: 1px;
          font-size: 17px;
          font-family: "SR";
        }
        .item-controls {
          width: 43px;
          text-align: right;
        }
        .passive-controls {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .points-title {
            margin: auto 0;
            font-family: "Acme";
            font-size: 12px;
            font-weight: 700;
            padding-top: 1px;
          }
        }
      }
      .item-header {
        .subtitle {
          font-size: 16px;
        }
        .item-image {
          padding-left: 21px;
          height: 6px;
          margin-right: 3px;
        }
        .item-name {
          font-size: 18px;
        }
        .item-skill {
          font-size: 14.5px;
        }
        .item-action {
          font-size: 14.5px;
        }
        .item-modifier {
        }
        .item-name {
        }
      }
      .item-line {
        padding: 1px 0;
        border-color: #000000c2;
        border-style: dashed;
        border-width: 0 0 1px 0;
        .item-image {
          width: 21px;
          height: 21px;
          display: flex;
          align-items: center;
          margin-right: 3px;
          img {
            width: 21px;
            height: 21px;
            border: none;
          }
        }
        .item-name {
          font-size: 15px;
          font-family: "JMHArkham";
        }
        .item-skill {
          font-size: 14.5px;
        }
        .item-action {
          font-size: 15.5px;
        }
        .item-modifier {
          font-size: 17px;
        }
        .item-damage {
          font-family: "SR";
          font-size: 21px;
          height: 23px;
          span {
            font-size: 15.5px;
          }
        }
      }
      .load-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 36px;
      }
      .load-value,
      .load-value_input,
      .load-max {
        font-family: "SR";
        font-size: 17px;
      }
      .load-value,
      .load-value_input {
        height: 19px;
        width: 17px;
        min-width: 17px;
        padding-bottom: 1px;
        text-align: right;
      }
      .load-value_input {
        background: none;
      }
      .load-divisor {
        width: 5px;
        text-align: center;
        font-size: 16px;
      }
      .load-max {
        width: 14px;
        padding-top: 4px;
        margin-left: -2px;
        text-align: left;
        font-size: 15px;
        font-style: italic;
      }
    }
    .item-line:nth-child(2) {
      padding-top: 0;
    }
    .item-line:last-child {
      padding-bottom: 0;
      border-width: 0 0 0 0;
    }
    // .wear {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   .window {
    //     width: 50%;
    //   }
    //   .vest {
    //     margin-right: 7px;
    // }

    // .inventory-footer {
    //   margin: 0;
    //   height: 48px;
    // }

    .wear {
      margin-bottom: 7px;
    }
    .general {
      margin-bottom: 0;
    }

    .key-currency-title {
      font-size: 16px;
    }
    .currencies {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .currency {
        width: 23%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        height: 19px;
        margin-right: 2px;
        input {
          background: transparent;
        }
        .currency-current {
          height: 19px;
          width: 45%;
          text-align: right;
          font-family: "SR";
          padding-top: 2px;
          font-size: 20px;
        }
        .currency-name {
          height: 19px;
          width: 55%;
          padding-left: 3px;
          font-family: "JMHArkham";
          font-weight: 700;
          font-size: 16px;
        }
      }
      .currency:last-child {
        margin-right: 0;
      }
    }

    // Abilities tab
    .abilities {
      max-height: 446px;
      overflow-y: scroll;
      .window {
        padding-bottom: 1px;
      }
    }

    .constants {
      max-height: 446px;
      overflow-y: scroll;
      .window {
        padding-bottom: 1px;
      }
    }

    // Biography tab
    .info-tab {
      display: flex;
      flex-direction: column;
      height: calc(100% - 1px);
      .basic-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3px 2px 2px;
      }
      .minor-info {
        width: calc(50% - 1px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .minor-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 21px;
          font-size: 15px;
        }
        .age-input {
          width: auto;
          font-size: 15px;
          height: 17px;
          margin: 2px 1px;
          padding-left: 2px;
          margin-left: 3px;
          background: transparent;
        }
      }
      .info-windows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        .info-window {
          display: flex;
          flex-direction: column;
          width: calc(50% - 4px);
          height: 100%;
        }
        .info-left {
          .looks-window {
            height: calc(35%);
            max-height: 192px;
          }
          .quirks-window {
            height: calc(35%);
            max-height: 191px;
          }
          .goal-window {
            height: calc(35% - 7px);
            max-height: 149px;
          }
        }
        .info-right {
          .bio-window {
            height: 100%;
            max-height: 446px;
          }
        }
        .last-window {
          margin-bottom: 0;
        }
      }
    }

    // Information - Notes tab
    .notes-tab {
      display: flex;
      flex-direction: column;
      height: calc(100% - 1px);
      padding: 3px 2px 2px;
    }
    .bio {
      min-height: 36px;
      height: calc(100% - 16px);
    }
    .notes-tab {
      padding: 0;
      .notes-window {
        height: 70%;
        max-height: 312px;
      }
      .gm-notes-window {
        height: 30%;
        max-height: 134px;
        margin: 0;
      }
      textarea {
        width: 100%;
        min-height: 36px;
        height: calc(100% - 20px);
        line-height: 17px;
        padding: 0 2px 1px;
        font-family: "Acme";
        resize: none;
        text-align: justify;
        border: 0;
        border-radius: 3px;
        padding: 0;
        background: transparent;
      }
    }
  }

  .empty-window {
    height: 21px;
    font-family: "JMHArkham";
    font-size: 14.5px;
    color: gray;
    margin-left: 24px;
  }
}
