.chat-item-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 24px;
  img {
    border-radius: 2px 2px 0 2px;
    border-color: var(--color-underline-header);
  }
  .item-card-title {
    width: calc(100% - 24px);
    line-height: 25px;
    font-family: "JMHArkham";
    div {
      margin-bottom: -1px;
      margin-left: 2px;
    }
  }
}

.roll-summary {
  font-size: 12.5px;
}
