@font-face {
  font-family: "Acme";
  src: url("fonts/Acme-Regular.ttf");
}

@font-face {
  font-family: "AvenirBlack";
  src: url("fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "AvenirRoman";
  src: url("fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "IMFellEnglishSC";
  src: url("fonts/IMFellEnglishSC-Regular.ttf");
}

@font-face {
  font-family: "IMFellDWPica";
  src: url("fonts/IMFellDWPica-Regular.ttf");
}

@font-face {
  font-family: "IMFellDWPicaSC";
  src: url("fonts/IMFellDWPicaSC-Regular.ttf");
}

@font-face {
  font-family: "JMHArkham";
  src: url("fonts/JmharkhamRegular.otf");
}

@font-face {
  font-family: "ModestoCondBold";
  src: url("fonts/Modesto Condensed Bold.ttf");
}

@font-face {
  font-family: "RubikGlitch";
  src: url("fonts/RubikGlitch-Regular.ttf");
}

@font-face {
  font-family: "SR";
  src: url("fonts/Sundayromanticdemo.otf");
}

@deep-black: #000000;
@bg-gray-1: #fffcf4b8;
@bg-gray-2: #ebe7dce0;
