.actors-sidebar,
.items-sidebar {
  li.folder .folder-header {
    padding: 3px 4px 1px;
  }

  .directory-item img {
    height: 48px;
  }

  .directory-item {
  }

  .directory-item .document-name {
    height: 100%;
    line-height: 24px;
  }

  .directory-item img {
    object-fit: cover;
    object-position: 0;
    height: 24px;
  }
}

.window-title,
.header-button {
  font-family: "JMHArkham";
}
