@font-face {
  font-family: "Acme";
  src: url("fonts/Acme-Regular.ttf");
}
@font-face {
  font-family: "IMFellEnglishSC";
  src: url("fonts/IMFellEnglishSC-Regular.ttf");
}
@font-face {
  font-family: "IMFellDWPica";
  src: url("fonts/IMFellDWPica-Regular.ttf");
}
@font-face {
  font-family: "IMFellDWPicaSC";
  src: url("fonts/IMFellDWPicaSC-Regular.ttf");
}
@font-face {
  font-family: "JMHArkham";
  src: url("fonts/JmharkhamRegular.otf");
}
@font-face {
  font-family: "ModestoCondBold";
  src: url("fonts/Modesto Condensed Bold.ttf");
}
@font-face {
  font-family: "RubikGlitch";
  src: url("fonts/RubikGlitch-Regular.ttf");
}
@font-face {
  font-family: "SR";
  src: url("fonts/Sundayromanticdemo.otf");
}
.editor {
  height: 100%;
}
.editor .tox:not(.tox-tinymce-inline) .tox-editor-header {
  height: 36px;
  padding: 5px 0 3px 0;
}
.editor button.tox-tbtn,
.editor .tox-tbtn--select {
  margin: 1px 1px 4px 0;
  height: 24px;
  width: auto;
}
.editor .tox-toolbar__primary .tox-toolbar__group {
  padding: 0 5px 0 6px;
}
.editor p {
  margin: 1px 0 2px;
}
.editor .editor-content {
  height: calc(100% - 2px);
}
.sheet h2,
.sheet h3,
.sheet h4 {
  margin: 0;
}
.sheet h3 {
  font-size: 18px;
}
.sheet .subtitle {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 16px;
  margin-bottom: 2px;
  font-size: 17px;
}
.sheet .window {
  padding: 4px 2px 0;
  border: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 5px;
  margin: 0 0 7px 0;
}
.sheet .space {
  margin: auto;
  height: 20px;
  margin-right: 2px;
  border-width: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: #37373a7e;
}
.sheet .superior {
  font-family: "Acme";
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.sheet .superior input {
  border: 0;
  border-radius: 3px;
  padding: 0;
}
.sheet .superior select {
  border: 0;
  border-radius: 3px;
  padding: 0;
}
.sheet .superior .profile-img {
  height: 155px;
  width: 155px;
  margin-right: -5px;
  margin-bottom: -5px;
  border: none;
}
.sheet .superior .superior-right {
  height: 152px;
}
.sheet .superior .char-name {
  width: calc(100% - 160px);
  margin-right: 3px;
  height: 23px;
}
.sheet .superior .char-name .name-input {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  font-family: "IMFellDWPica";
  font-size: 26px;
  padding-left: 3px;
}
.sheet .superior .name-exp {
  display: flex;
  flex-direction: row;
}
.sheet .superior .name-exp .exp-bar {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 5px;
  padding-left: 3px;
  height: 20px;
}
.sheet .superior .name-exp .exp-bar :last-child {
  border-width: 0;
}
.sheet .superior .name-exp .exp-bar span,
.sheet .superior .name-exp .exp-bar .exp-ttl,
.sheet .superior .name-exp .exp-bar .exp-res {
  height: 24px;
  line-height: 24px;
  font-size: 22px;
  text-align: center;
  border-color: #ec002770;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
}
.sheet .superior .name-exp .exp-bar .exp-ava {
  width: 25%;
}
.sheet .superior .name-exp .exp-bar .exp-ttl {
  width: 35%;
}
.sheet .superior .name-exp .exp-bar .exp-res {
  width: 20%;
}
.sheet .superior .name-exp .exp-bar .exp {
  width: 20%;
  font-size: 20px;
  line-height: 22px;
  height: 20px;
  font-weight: 700;
}
.sheet .superior .stats-window {
  display: flex;
  flex-direction: row;
  height: 129px;
}
.sheet .superior .stats-window .left-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3px;
  border: solid rgba(128, 128, 128, 0.432);
  border-width: 0 1px 1px 0;
  border-radius: 0 0 5px 0;
  width: calc(100% - 160px);
  padding: 1px 0;
}
.sheet .superior .stats-window .left-window .racial {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sheet .superior .stats-window .left-window .racial select {
  height: 17px;
  font-size: 14px;
  flex-grow: 1;
  margin: 1px 2px;
}
.sheet .superior .stats-window .left-window .att-partial input {
  padding: 0;
  margin: 1px 2px;
  text-align: center;
}
.sheet .superior .stats-window .left-window .att-partial .attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
  padding-left: 4px;
  width: 100%;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .attribute {
  margin-right: 2px;
  width: 15%;
  border-width: 0px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .space {
  height: 40px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat-name {
  text-align: center;
  font-family: "IMFellEnglishSC";
  font-weight: 700;
  height: 19px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat-name a,
.sheet .superior .stats-window .left-window .att-partial .attributes .stat-name div {
  height: 18px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat input {
  height: 36px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat .stat-value {
  width: 58%;
  font-family: "SR";
  font-size: 36px;
  padding-top: 3px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat .stat-modifier {
  width: 42%;
  font-family: "SR";
  font-size: 24px;
  border-radius: 0 0 10px 0;
  padding-bottom: 2px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .stat span {
  font-size: 12px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement {
  width: 25%;
  margin-right: 3px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .mov-value,
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .sprint {
  font-family: "SR";
  font-size: 36px;
  padding-top: 3px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .mov-value {
  width: calc(37% - 7px);
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .mov-modifier {
  width: calc(26% - 7px);
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .mov-arrow {
  font-family: "SR";
  font-size: 26px;
  font-weight: bold;
  width: 7px;
}
.sheet .superior .stats-window .left-window .att-partial .attributes .movement .sprint {
  width: calc(37% - 7px);
}
.sheet .superior .stats-window .left-window .att-partial .resources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.sheet .superior .stats-window .left-window .att-partial .resources .space {
  height: 30px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource {
  margin-right: 3px;
  width: 140px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource label {
  height: 16px;
  text-align: center;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource label h3 {
  font-family: "IMFellEnglishSC";
  font-weight: 700;
  height: 18px;
  font-size: 17px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource label h3 div {
  height: 16px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  height: 28px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 140px;
  position: absolute;
  height: 26px;
  background: rgba(0, 0, 0, 0.05);
  border: solid var(--color-text-light-5);
  border-width: 0 1px 0px 0;
  border-radius: 0 0 5px 0;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special .stat-value {
  width: 50%;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special .stat-current {
  background-color: transparent;
  text-align: right;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special .stat-max {
  background-color: transparent;
  text-align: left;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special span {
  height: 28px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource_special .divisor {
  font-size: 20px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .resource-bar {
  height: 24px;
  background-color: #00d41270;
  border-radius: 5px 0 5px 0;
}
.sheet .superior .stats-window .left-window .att-partial .resources .resource .resource-info .pe-bar {
  background-color: #0043d470;
}
.sheet .superior .stats-window .left-window .att-partial .resources .limiar {
  width: 60px;
  margin-right: 2px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .pain {
  width: 55px;
  margin-right: 2px;
}
.sheet .superior .stats-window .left-window .att-partial .resources .pain label {
  height: 18px;
}
.sheet .superior .stats-window .right-window {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2px 2px;
  border: 1px solid #8080806e;
  border-radius: 5px;
}
.sheet .superior .stats-window .right-window p {
  margin: 0;
  text-align: center;
  font-weight: 700;
}
.sheet .superior .stats-window .right-window .mitigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #341ac9;
  margin-top: 2px;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group {
  margin-right: 2px;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group,
.sheet .superior .stats-window .right-window .mitigation .protections {
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor,
.sheet .superior .stats-window .right-window .mitigation .protections .armor {
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor h3,
.sheet .superior .stats-window .right-window .mitigation .protections .armor h3 {
  border: 0;
  line-height: 20px;
  font-family: "IMFellEnglighSC";
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor h3 div,
.sheet .superior .stats-window .right-window .mitigation .protections .armor h3 div {
  font-size: 24px;
  padding-top: 2px;
  font-family: "SR";
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor input,
.sheet .superior .stats-window .right-window .mitigation .protections .armor input {
  text-align: center;
  font-size: 24px;
  height: 21px;
  width: 26px;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor .mit-modifiers,
.sheet .superior .stats-window .right-window .mitigation .protections .armor .mit-modifiers {
  width: 18px;
  font-size: 17px;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .armor:last-child,
.sheet .superior .stats-window .right-window .mitigation .protections .armor:last-child {
  margin-top: 2px;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .protection,
.sheet .superior .stats-window .right-window .mitigation .protections .protection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .protection h3,
.sheet .superior .stats-window .right-window .mitigation .protections .protection h3 {
  font-size: 10.5px;
  border: 0;
}
.sheet .superior .stats-window .right-window .mitigation .armor-group .protection input,
.sheet .superior .stats-window .right-window .mitigation .protections .protection input {
  padding-right: 2px;
  text-align: right;
  height: 14px;
  line-height: 14px;
  width: 14px;
  font-size: 14px;
}
.sheet .superior .stats-window .right-window .minors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.sheet .superior .stats-window .right-window .minors .minor,
.sheet .superior .stats-window .right-window .minors .luck {
  width: 75px;
}
.sheet .superior .stats-window .right-window .minors .minor-name,
.sheet .superior .stats-window .right-window .minors .luck-name {
  font-size: 15px;
  text-align: center;
  height: 16px;
}
.sheet .superior .stats-window .right-window .minors .minor-name a,
.sheet .superior .stats-window .right-window .minors .luck-name a,
.sheet .superior .stats-window .right-window .minors .minor-name div,
.sheet .superior .stats-window .right-window .minors .luck-name div {
  margin-bottom: -1px;
  font-family: "IMFellEnglishSC";
  font-weight: 700;
}
.sheet .superior .stats-window .right-window .minors .minor-num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sheet .superior .stats-window .right-window .minors .minor-num select {
  text-align: center;
  padding: 0 0 0 1px;
  height: 21px;
  width: 27px;
  appearance: none;
}
.sheet .superior .stats-window .right-window .minors .minor-num input {
  text-align: center;
  height: 21px;
}
.sheet .superior .stats-window .right-window .minors .minor-num .minor-value {
  width: 26px;
  font-size: 23px;
}
.sheet .superior .stats-window .right-window .minors .minor-num .minor-modifier {
  width: 20px;
  font-size: 17px;
}
.sheet .superior .stats-window .right-window .minors .luck-num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 21px;
}
.sheet .superior .stats-window .right-window .minors .luck-num input {
  text-align: center;
  height: 21px;
}
.sheet .navigation {
  font-family: "Acme";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-color: #341ac9;
  border-style: solid;
  border-width: 1px 0 1px 0;
  height: 22px;
  margin-bottom: 7px;
}
.sheet .navigation .item {
  width: 16%;
  text-align: center;
}
.sheet .navigation .active {
  font-weight: 700;
}
.sheet .navigation a {
  font-size: 17px;
}
.sheet .navigation .space {
  margin: auto 0;
  height: 14px;
}
.sheet .tab-content {
  font-family: "Acme";
  height: 100%;
}
.sheet .tab-content .tab {
  height: 100%;
}
.sheet .tab-content input {
  border: 0;
  border-radius: 3px;
  padding: 0;
}
.sheet .tab-content select {
  border: 0;
  border-radius: 3px;
  padding: 0;
}
.sheet .tab-content .skills-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sheet .tab-content .skills-tab .grouping {
  width: 32.5%;
}
.sheet .tab-content .skills-tab .grouping .skill-group {
  padding: 0;
  list-style-type: none;
  padding: 4px 2px 0;
  border: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 5px;
  margin: 0 0 7px 0;
}
.sheet .tab-content .skills-tab .grouping .skill-group .group-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sheet .tab-content .skills-tab .grouping .skill-group .group-title .group-name {
  width: 80%;
}
.sheet .tab-content .skills-tab .grouping .skill-group .group-title .tag-lvl {
  width: 10%;
  padding-right: 3px;
  font-size: 16px;
  text-align: right;
}
.sheet .tab-content .skills-tab .grouping .skill-group .group-title .tag-mod {
  width: 10%;
  padding-right: 1px;
  font-size: 16px;
  text-align: right;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill {
  height: 21px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-exp {
  color: #999;
  font-family: "Modesto Condensed";
  font-size: 12.5px;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-favor {
  display: flex;
  margin: 0 2px 0 1px;
  margin-bottom: 1px;
  flex: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill input[type="checkbox"] {
  margin-left: 3px;
  margin-bottom: 3px;
  background: transparent;
  height: 14px;
  padding: 4px 4px 4px 8px;
  border: 1px solid #b5b7b8;
  border: 1px inset #ccc;
  border-radius: 50%;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill input[type="checkbox"]:checked {
  padding: 0;
  -webkit-filter: none;
  color: #06003b;
  box-shadow: 0px 1px 3px #741515e7 !important;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill input[type="checkbox"]:checked::before {
  font-family: "Font Awesome 5 Free";
  margin-left: -1.5px;
  content: "\f603";
  font-weight: bold;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-title {
  padding-left: 2px;
  width: calc(50% + 6px - 14px);
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-rate {
  width: 25px;
  font-size: 10.5px;
  text-align: center;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-att {
  width: 15%;
  font-size: 12.5px;
  text-align: center;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill input {
  border-radius: 3px;
  padding: 0 3px 0 0;
  margin: 0 0 0 3px;
  height: 18px;
  text-align: right;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-value {
  width: 10%;
  font-weight: 700;
  font-size: 17px;
}
.sheet .tab-content .skills-tab .grouping .skill-group .skill .skill-mod {
  width: 10%;
  padding: 0 1px 0 0;
}
.sheet .tab-content .lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 48px;
  padding: 3px 2px;
  border: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 5px;
  font-size: 15px;
}
.sheet .tab-content .lists p {
  margin: 0;
}
.sheet .tab-content .lists .list-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet .tab-content .lists .list-line .list-title {
  width: 20%;
  display: flex;
  align-items: center;
  height: 21px;
  font-size: 15px;
}
.sheet .tab-content .lists .list-line .list-input {
  width: 100%;
  font-size: 15px;
  height: 17px;
  margin: 2px 1px;
  padding-left: 2px;
  margin-left: 4px;
}
.sheet .tab-content .items-list {
  margin: 0;
  padding: 0;
  min-height: 41px;
}
.sheet .tab-content .items-list .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sheet .tab-content .items-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sheet .tab-content .items-list .item .item-margin {
  margin-right: 2px;
}
.sheet .tab-content .items-list .item .item-name {
  width: calc(22% - 8px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sheet .tab-content .items-list .item .item-name .item-type {
  color: #999;
  font-family: "Modesto Condensed";
  font-size: 12.5px;
}
.sheet .tab-content .items-list .item .item-skill {
  width: calc(8% - 4px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sheet .tab-content .items-list .item .item-action {
  width: calc(7% - 4px);
}
.sheet .tab-content .items-list .item .item-modifier {
  width: calc(3% - 4px);
  text-align: right;
}
.sheet .tab-content .items-list .item .item-damage {
  width: calc(15% - 6px);
  width: 12%;
  text-align: center;
}
.sheet .tab-content .items-list .item .item-range {
  text-align: center;
  width: calc(6% - 4px);
}
.sheet .tab-content .items-list .item .item-info {
  width: calc(32% - 18px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sheet .tab-content .items-list .item .item-defense {
  width: calc(7% - 6px);
  text-align: center;
}
.sheet .tab-content .items-list .item .item-controls {
  width: 29px;
  margin-left: 3px;
  text-align: center;
}
.sheet .tab-content .items-list .item-header .item-image {
  padding-left: 21px;
  height: 6px;
  margin-right: 3px;
}
.sheet .tab-content .items-list .item-header .item-skill,
.sheet .tab-content .items-list .item-header .item-action {
  font-size: 14px;
}
.sheet .tab-content .items-list .item-line {
  height: 23px;
}
.sheet .tab-content .items-list .item-line .item-image {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.sheet .tab-content .items-list .item-line .item-image img {
  width: 21px;
  height: 21px;
}
.sheet .tab-content .items-list .item-line .item-name {
  font-size: 15px;
}
.sheet .tab-content .items-list .item-line .item-skill {
  font-size: 12px;
}
.sheet .tab-content .items-list .item-line .item-modifier {
  font-size: 17px;
}
.sheet .tab-content .info-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sheet .tab-content .info-tab .basic-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px 2px 2px;
}
.sheet .tab-content .info-tab .minor-info {
  width: calc(50% - 1px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sheet .tab-content .info-tab .minor-info .minor-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 21px;
  font-size: 15px;
}
.sheet .tab-content .info-tab .minor-info .age-input {
  width: auto;
  font-size: 15px;
  height: 17px;
  margin: 2px 1px;
  padding-left: 2px;
  margin-left: 3px;
}
.sheet .tab-content .info-tab .info-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.sheet .tab-content .info-tab .info-windows .info-window {
  display: flex;
  flex-direction: column;
  width: calc(50% - 4px);
  height: 100%;
}
.sheet .tab-content .info-tab .info-windows .info-left .looks-window {
  height: calc(50%);
  max-height: 192px;
}
.sheet .tab-content .info-tab .info-windows .info-left .quirks-window {
  height: calc(50%);
  max-height: 191px;
}
.sheet .tab-content .info-tab .info-windows .info-right .goal-window {
  height: calc(35% - 7px);
  max-height: 149px;
}
.sheet .tab-content .info-tab .info-windows .info-right .bio-window {
  height: 65%;
  max-height: 290px;
}
.sheet .tab-content .info-tab .info-windows .last-window {
  margin-bottom: 0;
}
.sheet .tab-content .notes-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3px 2px 2px;
}
.sheet .tab-content .bio {
  min-height: 36px;
  height: calc(100% - 16px);
}
.sheet .tab-content .notes-tab {
  padding: 0;
}
.sheet .tab-content .notes-tab .notes-window {
  height: 70%;
  max-height: 312px;
}
.sheet .tab-content .notes-tab .gm-notes-window {
  height: 30%;
  max-height: 134px;
  margin: 0;
}
.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .weapon-content {
  justify-content: space-between;
}
.sheet input,
.sheet select {
  border: 0;
  border-radius: 3px;
  padding: 0;
}
.sheet .superior .item-img {
  height: 80px;
  width: 80px;
  margin: 0;
}
.sheet .superior .item-header-right {
  height: 100%;
  width: calc(100% - 80px);
}
.sheet .superior .item-header-right .item-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet .superior .item-header-right .item-header-info select,
.sheet .superior .item-header-right .item-header-info input {
  height: 17px;
  font-size: 14px;
  flex-grow: 1;
  margin: 1px 2px;
}
.sheet .superior .item-header-right .item-header-info .item-price {
  width: 20%;
  text-align: right;
  padding-right: 5px;
  font-size: 20px;
  height: 17px;
}
.sheet .superior .item-header-right .item-header-info span {
  font-size: 20px;
  height: 17px;
  margin-top: -5px;
}
.sheet .superior .item-name {
  width: 100%;
  margin-right: 0;
}
.sheet .action {
  list-style-type: none;
  font-family: "Acme";
}
.sheet .action-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sheet .action-damages {
  display: flex;
  flex-direction: column;
}
.sheet .action-damages .action-damage {
  display: flex;
  flex-direction: row;
}
.sheet .bio {
  height: 110px;
  height: calc(100% - 16px);
}
.sheet .bio .editor {
  height: 100%;
}
.sheet .item-description-window {
  height: 110px;
  margin-bottom: 0;
}
