<section class="abilities">{{! General Tab }}
  <div class="techniques window">
    <ol class="items-list">
      <li class="item item-header">
        <h3 class="subtitle">
          <div class="item-image"></div>
          <div class="item-name item-margin">{{localize "PC.Techniques"}}</div>
          <div class="item-notes">
          </div>
          <div class="item-controls">
            <a
              {{! class="item-control item-create" }}
              title="Create item"
              data-type="gear"
            ><i class="fas fa-plus"></i></a>
          </div>
        </h3>
      </li>
    </ol>
  </div>
  <div class="powers window">
    <ol class="items-list">
      <li class="item item-header">
        <h3 class="subtitle">
          <div class="item-image"></div>
          <div class="item-name item-margin">{{localize "PC.Powers"}}</div>
          <div class="item-notes">
          </div>
          <div class="item-controls">
            <a
              {{! class="item-control item-create" }}
              title="Create item"
              data-type="gear"
            ><i class="fas fa-plus"></i></a>
          </div>
        </h3>
      </li>
    </ol>
  </div>
</section>