<section class="attributes">
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.FIS"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.fis.value"
        type="text"
        value="{{data.system.attributes.fis.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.fis.modifier"
        type="text"
        value="{{data.system.attributes.fis.modifier}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.AGI"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.agi.value"
        type="text"
        value="{{data.system.attributes.agi.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.agi.modifier"
        type="text"
        value="{{data.system.attributes.agi.modifier}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.ALM"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.alm.value"
        type="text"
        value="{{data.system.attributes.alm.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.alm.modifier"
        type="text"
        value="{{data.system.attributes.alm.modifier}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.COG"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.cog.value"
        type="text"
        value="{{data.system.attributes.cog.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.cog.modifier"
        type="text"
        value="{{data.system.attributes.cog.modifier}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.ESP"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.esp.value"
        type="text"
        value="{{data.system.attributes.esp.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.esp.modifier"
        type="text"
        value="{{data.system.attributes.esp.modifier}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">MV</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.attributes.movement.value"
        type="text"
        value="{{data.system.attributes.movement.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.attributes.movement.modifier"
        type="text"
        value="{{data.system.attributes.movement.modifier}}"
        data-dtype="Number"
      />
      <span>cs</span>
    </div>
  </div>
</section>
<section class="subatributos">
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.Saude"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.subatributos.saude.value"
        type="text"
        value="{{data.system.subatributos.saude.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.subatributos.saude.modificador"
        type="text"
        value="{{data.system.subatributos.saude.modificador}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.Esperteza"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.subatributos.esperteza.value"
        type="text"
        value="{{data.system.subatributos.esperteza.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.subatributos.esperteza.modificador"
        type="text"
        value="{{data.system.subatributos.esperteza.modificador}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">{{localize "PARSCRUCIS.Vontade"}}</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.subatributos.vontade.value"
        type="text"
        value="{{data.system.subatributos.vontade.value}}"
        data-dtype="Number"
      />
      <input
        class="stat-modifier"
        name="system.subatributos.vontade.modificador"
        type="text"
        value="{{data.system.subatributos.vontade.modificador}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <label>
      <h3 class="stat-name">Sorte</h3>
    </label>
    <div class="stat-value">
      <input
        name="system.resources.sorte.value"
        type="text"
        value="{{data.system.resources.sorte.value}}"
        data-dtype="Number"
      />
    </div>
</section>
