<section class="notas">
  <div>Aqui seguem as ANOTAÇÕES</div>
  <div class="bio">
    {{editor
      actor.system.details.notes
      target="system.details.notes"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</section>