<form class="{{cssClass}}" autocomplete="off">
  <!-- Sheet header -->
  <header class="superior">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
    <div class="superior-right">
      <div class="name-exp">
        <h2 class="char-name">
          <input
            class="name-input"
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="Nome"
          />
        </h2>
      </div>
    </div>
  </header>
</form>