<section class="aba-pericias">
  <div class="agrupamento">
    <ul class="grupo-pericias corporais">
      <h3>Corporais</h3>
      {{#each config.corporais as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
    <ul class="grupo-pericias subterfugios">
      <h3>Subterfúgios</h3>
      {{#each config.subterfugios as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="agrupamento">
    <ul class="grupo-pericias conhecimentos">
      <h3>Conhecimentos</h3>
      {{#each config.conhecimentos as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
    <ul class="grupo-pericias oficios">
      <h3>Ofícios</h3>
      {{#each config.oficios as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="agrupamento">
    <ul class="grupo-pericias sociais">
      <h3>Sociais</h3>
      {{#each config.sociais as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
    <ul class="grupo-pericias sobrenaturais">
      <h3>Sobrenaturais</h3>
      {{#each config.sobrenaturais as |p obj|}}
      <li>{{p}}</li>
      {{/each}}
    </ul>
  </div>
</section>
